@page "/wasm"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}



@* @page "/counter" *@
@* @rendermode InteractiveAuto *@

@* <PageTitle>Counter</PageTitle> *@

@* <h1>Counter</h1> *@

@* <p role="status">Current count: @currentCount</p> *@

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@* @code { *@
@*     private int currentCount = 0; *@

@*     private void IncrementCount() *@
@*     { *@
@*         currentCount++; *@
@*     } *@
@* } *@


@* @page "/auth" *@

@* @using Microsoft.AspNetCore.Authorization *@

@* @attribute [Authorize] *@
@* @rendermode InteractiveAuto *@

@* <PageTitle>Auth</PageTitle> *@

@* <h1>You are authenticated</h1> *@

@* <AuthorizeView> *@
@*     Hello @context.User.Identity?.Name! *@
@* </AuthorizeView> *@
