


<div style="display: flex; flex-direction: column; gap: 20px;">
    <h1 class="drop-shadow-lg text-center py-4" style=" font-size: 8rem; font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;">
        🎛️
    </h1>
    <h1 class="text-4xl sm:text-5xl font-bold mb-4 drop-shadow-lg text-center">
        MQTT Dashboard
    </h1>
    <p class="text-lg sm:text-xl text-white/80 mb-10 max-w-2xl mx-auto text-justify">
        Śledź dane z ESP32 w czasie rzeczywistym – temperatura, wilgotność i inne sensory pod Twoją kontrolą.
    </p>
</div>






@code {

}
