<!-- Status ESP -->
<div class="bg-white/10 backdrop-blur-md rounded-xl shadow-lg p-6 ring-1 ring-white/20">
    <h1 class="drop-shadow-lg text-center py-4" style="font-size: 4rem; font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;">
        ✅
    </h1>
    <h2 class="text-3xl font-semibold text-green-400">Status ESP</h2>
    <p class="text-3xl font-bold mt-2">Połączono</p>
    <p class="text-sm text-white/60 mt-1">Status połączenia</p>
</div>



@code {

}
